# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your Supabase database.
POSTGRES_URL="postgres://postgres.[USERNAME]:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?workaround=supabase-pooler.vercel"


# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
AUTH_SECRET='supersecret'

# Preconfigured Discord OAuth provider, works out-of-the-box
# @see https://next-auth.js.org/providers/discord
AUTH_DISCORD_ID=''
AUTH_DISCORD_SECRET=''

# In case you're using the Auth Proxy (apps/auth-proxy)
# AUTH_REDIRECT_PROXY_URL='https://auth.your-server.com/r'

VAPID_PUB_KEY=BGF31ZjFFRxagjntP1D8IsSRJ1q81u-e0qgB1wy0iS7EOoQ6rKLf0AC3GCwTJ7SBD6UzqTJmxfEQHWwrKy00VQk
VAPID_KEY=RnqBMb_hmllq9OZW0G7Q9oFxEOw5o8YCYlZHMx8RjBA

# our API's URL and GQL URL since we use Strapi
NEXT_PUBLIC_API_URL=''
NEXT_PUBLIC_GQL_URL=''