.bg-agriSci {
    background-color: #53A14F
}
.bg-artSocialSci {
 background-color:    #EB973E
}

.bg-ecoSci {
background-color:  #88C9D2
}

.bg-education {
background-color: #26418A
}

.bg-engineering {
background-color:  #F4BB59
}

.bg-law {
    background-color: #D04035
}

.bg-medHealthSci {
background-color: #276472
}

.bg-milSci {
background-color: #E57767
}

.bg-science {
background-color: #B83535
}

.bg-theology {
background-color: #57338C
}

